name: CI-CD-Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Node
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # Install dependencies (npm install, NOT npm ci)
      - name: Install dependencies
        run: |
          cd app
          npm install

      - name: Run tests
        run: |
          echo "No tests configured"

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t devops-demo-app .

      # Tag Docker image
      - name: Tag Docker image
        run: |
          docker tag devops-demo-app:latest ${{ secrets.DOCKER_USERNAME }}/devops-demo-app:latest
          docker tag devops-demo-app:latest ${{ secrets.DOCKER_USERNAME }}/devops-demo-app:${{ github.sha }}

      # Push Docker image to Docker Hub
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/devops-demo-app:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/devops-demo-app:${{ github.sha }}

      # Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Update kubeconfig
      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig \
            --region ${{ secrets.AWS_REGION }} \
            --name ${{ secrets.EKS_CLUSTER_NAME }}

      # Apply Kubernetes manifests
      - name: Deploy to EKS
        run: |
          kubectl apply -f k8s/

      # Update Deployment image automatically
      - name: Rolling update deployment
        run: |
          kubectl set image deployment/devops-demo-deployment \
            devops-demo=${{ secrets.DOCKER_USERNAME }}/devops-demo-app:${{ github.sha }} \
            -n devops-demo
